Repository skupperproject/skupper, pull requests merged in 2021-03, with the labels that each got.

#416 deprecate cluster-local
  cmd/skupper/skupper.go
Labels: cli-changes

#409 Fixes for Integration tests needed for running against multiple clusters
  test/integration/annotation/annotated_resource.go
  test/integration/basic/basic.go
  test/integration/edge_connectivity/edge_connectivity.go
  test/integration/http/http_test.go
  test/integration/mongodb/mongo.go
  test/utils/constants/constants.go
Labels: test

#425 Refactored test jobs that run inside the cluster to use a different build tag
  Makefile
  test/integration/bookinfo/bookinfo_test.go
  test/integration/bookinfo/job/bookinfojob_test.go
  test/integration/http/http_test.go
  test/integration/http/job/httpjob_test.go
  test/integration/mongodb/job/mongojob_test.go
  test/integration/mongodb/mongo_test.go
  test/integration/tcp_echo/job/tcp_echo_job_test.go
  test/integration/tcp_echo/tcp_echo.go
  test/integration/tcp_echo/tcp_echo_test.go
  test/utils/k8s/job.go
Labels: enhancement, test

#446 Handle getConsoleData according to the service type
  test/integration/annotation/annotated_resource_test.go
  test/utils/base/skupper.go
Labels: test

#452 fix route for router console on openshift
  api/types/types.go
  client/router_create.go
Labels: bug

#455 Add integration tests for /DATA endpoint
  test/integration/console/console_data_endpoint.go
  test/integration/console/console_data_endpoint_test.go
Labels: test

#440 Hello World integration test using skupper binary
  .circleci/config.yml
  test/integration/helloworld/helloworld_test.go
  test/integration/helloworld/main_test.go
  test/utils/base/skupper.go
  test/utils/k8s/deployment.go
  test/utils/k8s/pod.go
  test/utils/skupper/cli/delete.go
  test/utils/skupper/cli/expose.go
  test/utils/skupper/cli/init.go
  test/utils/skupper/cli/link/create.go
  test/utils/skupper/cli/link/status.go
  test/utils/skupper/cli/service/bind.go
  test/utils/skupper/cli/service/create.go
  test/utils/skupper/cli/service/delete.go
  test/utils/skupper/cli/service/status.go
  test/utils/skupper/cli/service/unbind.go
  test/utils/skupper/cli/status.go
  test/utils/skupper/cli/tester.go
  test/utils/skupper/cli/token/create.go
  test/utils/skupper/cli/unexpose.go
  test/utils/skupper/cli/version.go
  test/utils/skupper/console/tester.go
  test/utils/string.go
Labels: test

#461 Improved test coverage for getServiceDefinitionFromAnnotatedService
  cmd/service-controller/definition_monitor_test.go
Labels: test

#463 Add smoke tag to tests
  test/integration/basic/basic_test.go
  test/integration/tcp_echo/tcp_echo_test.go
Labels: test
