Repository skupperproject/skupper, pull requests merged in 2022-04, with the labels that each got.

#717 Fix: Connectors sync prevents automesh of the router replicas
  client/router_create.go
  cmd/config-sync/config_sync.go
  pkg/qdr/amqp_mgmt.go
  pkg/qdr/qdr.go
Labels: bug

#722 Reprocess when namespace no longer applies to policy
  client/policy_validator.go
  cmd/service-controller/policy_controller.go
Labels: bug

#730 Dumping test information on job failures
  .circleci/config.yml
  test/integration/examples/custom/hipstershop/hipstershop_test.go
  test/integration/examples/mongodb/mongo.go
  test/integration/examples/tcp_echo/tcp_echo.go
  test/integration/performance/tcp/types.go
  test/utils/base/cluster_test_runner.go
Labels: test

#731 Updated basic integration test to avoid deleting namespaces
  test/integration/acceptance/custom/basic/basic.go
Labels: test, ci

#734 Adding test for config-sync
  test/integration/acceptance/custom/basic/basic.go
Labels: test
