Repository skupperproject/skupper, pull requests merged in 2022-05, with the labels that each got.

#740 Integration tests improvements
  test/integration/acceptance/custom/basic/basic.go
  test/integration/acceptance/custom/edge_connectivity/edge_connectivity_test.go
  test/integration/acceptance/gateway_test.go
  test/integration/examples/bookinfo/bookinfo.go
  test/integration/examples/custom/hipstershop/hipstershop.go
  test/integration/examples/http/http.go
  test/integration/examples/tcp_echo/tcp_echo.go
  test/integration/performance/tcp/tcp_test.go
  test/integration/performance/tcp/types.go
  test/utils/base/cluster_context.go
  test/utils/base/cluster_test_runner.go
  test/utils/constants/constants.go
  test/utils/skupper/cli/init.go
Labels: test, ci

#754 Fix StringSlicesEqual function
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: bug

#747 Policy controller and API to share same policies
  client/policy_validator.go
  cmd/service-controller/bridges.go
  cmd/service-controller/bridges_test.go
  cmd/service-controller/controller.go
  cmd/service-controller/definition_monitor.go
  cmd/service-controller/definition_monitor_test.go
  cmd/service-controller/policies.go
  cmd/service-controller/policy_controller.go
  cmd/service-controller/token_handler.go
Labels: bug

#758 TCP test setup to vary based on build tag
  test/integration/performance/tcp/main_test.go
  test/integration/performance/tcp/tcp.go
  test/integration/performance/tcp/tcp_perf_test.go
  test/integration/performance/tcp/tcp_test.go
  test/integration/performance/tcp/types.go
Labels: test, ci

#755 Test: An http2 service with TLS feature enabled
  test/integration/examples/http/http.go
  test/integration/examples/http/job/httpjob_test.go
  test/utils/k8s/job.go
Labels: test

#776 Improved build tags used for integration tests package level setup
  test/integration/acceptance/main_test.go
  test/integration/examples/main_test.go
Labels: enhancement, ci
