Repository skupperproject/skupper, pull requests merged in 2023-02, with the labels that each got.

#1002 Support for deploymentconfigs in OpenShift
  api/types/types.go
  client/client.go
  client/router_create.go
  client/serviceinterface_update.go
  cmd/service-controller/definition_monitor.go
  cmd/service-controller/definition_monitor_test.go
  cmd/service-controller/policy_controller.go
  cmd/service-controller/services.go
  cmd/skupper/skupper.go
  cmd/skupper/skupper_cluster_test.go
  cmd/skupper/skupper_kube_expose.go
  cmd/skupper/skupper_test.go
  pkg/kube/deploymentconfigs.go
  pkg/kube/misc.go
Labels: enhancement

#987 Allow annotated services to change ports
  cmd/service-controller/controller.go
  pkg/service/bindings.go
  test/integration/acceptance/annotated_resource_test.go
  test/integration/acceptance/annotation/modification_functions.go
Labels: bug

#990 Introduced test variable to force ns removal
  test/utils/base/cluster_context.go
  test/utils/base/env.go
Labels: enhancement, test

#1032 remove protocol flag from bind command
  api/types/client.go
  client/serviceinterface_update.go
  client/serviceinterface_update_test.go
  cmd/skupper/skupper.go
  cmd/skupper/skupper_cluster_test.go
  cmd/skupper/skupper_kube_service.go
  cmd/skupper/skupper_mock_test.go
  test/integration/acceptance/console/console_data_endpoint.go
  test/integration/acceptance/custom/hello_policy/hello_policy_test.go
  test/integration/acceptance/custom/hello_policy/resources_test.go
  test/integration/acceptance/custom/hello_policy/service_test.go
  test/integration/acceptance/gateway/common.go
  test/integration/examples/custom/helloworld/helloworld_test.go
  test/integration/examples/custom/hipstershop/hipstershop.go
  test/integration/examples/http/http.go
  test/integration/examples/mongodb/mongo.go
  test/integration/examples/tcp_echo/tcp_echo.go
  test/integration/examples/tls_t/tls_t.go
  test/integration/performance/common/perfrunner.go
  test/utils/skupper/cli/service/bind.go
Labels: cli-changes
